# Ignore compiled Python files
*.pyc

# Ignore the virtual environment directory
sarenv/

# Ignore database files



# Ignore IDE and editor files
.vscode/
.idea/
*.suo
*.user
*.sln

# Ignore logs
logs/
