{% extends 'main/base.html' %}
{% load static %}

{% block content %}
{% include 'main/navbar.html' %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="{% static '/css/prof.css' %}">
<script src="{% static 'js/prof.js' %}"></script>

<div class="container">
  <h1>Профиль пользователя</h1>
  <!-- Режим только для чтения -->
  <div id="readOnlyUserMode">
      <p>Имя пользователя: <input type="text" id="username" value="{{ user_form.username.value }}" disabled></p>
      <p>Электронная почта: <input type="email" id="email" value="{{ user_form.email.value }}" disabled></p>
      <p>Номер телефона: <input type="text" name="phone_number" value="{{ user_form.phone_number.value }}" id="phone_number" disabled></p>

      <button id="editUserButton">Редактировать</button>
  </div>

  <!-- Режим редактирования -->
  <div id="editUserForm" style="display: none;">
      <form method="post">
          {% csrf_token %}
          <p>Имя пользователя: <input type="text" name="username" value="{{ user_form.username.value }}" id="username"></p>
          <p>Электронная почта: <input type="email" name="email" value="{{ user_form.email.value }}" id="email"></p>
          <p>Номер телефона: <input type="text" name="phone_number" value="{{ user_form.phone_number.value }}" id="phone_number"></p>

          <button id="saveUserButton" type="submit" name="user_info_form">Сохранить изменения</button>
          <button id="cancelUserButton" type="button">Отмена</button>
      </form>
  </div>

  <!-- Режим только для чтения для изменения пароля -->
  <div id="readOnlyPasswordMode">
    <p>Пароль: <input type="password" name="old_password" value="********" id="old_password" disabled></p>
    <button id="editPasswordButton">Изменить пароль</button>
  </div>

  <!-- Режим редактирования для изменения пароля -->
  <div id="editPasswordForm" style="display: none;">
    <form method="post">
        {% csrf_token %}
        {{ password_change_form.as_p}}
        <button id="savePasswordButton" type="submit" name="password_change_form">Сохранить пароль</button>
        <button id="cancelPasswordButton" type="button">Отмена</button>
    </form>
  </div>

   <!-- Добавление нового контейнера внизу -->
   <div class="bottom-container">
        <!-- Добавление кнопок "Выйти" и "Удалить аккаунт" в новый контейнер -->
        <form method="post" action="{% url 'logout' %}" class="logout-form">
            {% csrf_token %}
            <button style="border-color: red; padding: 10px; margin-left: 10px;" type="submit" onclick="return confirm('Вы уверены, что хотите выйти?')">
                Выйти <i class="fa-solid fa-arrow-right-from-bracket"></i>
            </button>
        </form>

        <form method="post" action="{% url 'delete_account' %}" class="delete-account-form">
            {% csrf_token %}
            <button style="border-color: red; padding: 10px; margin-left: 10px;" type="submit" onclick="return confirm('Вы уверены, что хотите удалить свой аккаунт?')">
                Удалить аккаунт <i class="fa-solid fa-trash"></i>
            </button>
        </form>

        {% if user_in_barber_list %}
            <form method="post"  action="{% url 'client_or_barber' %}">
                {% csrf_token %}
                <button style="border-color: rgb(242, 255, 0); padding: 10px; margin-left: 10px;" type="submit">
                    {% if request.user.is_barber %}
                        В профиль клиента
                    {% else %}
                        В профиль парикмахера
                    {% endif %}
                </button>
            </form>
        {% endif %}

    </div>

</div>

{% endblock %}
