{% extends 'main/base.html' %}
{% load static %}
{% load custom_filters %}


{% block content %}
{% include 'main/navbar.html' %}


<link rel="stylesheet" href="{% static 'css/clients.css' %}">

<meta name="viewport" content="width=device-width, initial-scale=1.0">


    <div class="container">

        <!-- Контент из второго HTML -->
        <div class="list-content">
            <h1>Мои записи</h1>
            <p>❗Если запись не отображается, значит она не подтверждена парикмахером и была удалена.</p>
            <table>
                <thead>
                    <tr>
                        <th>Имя парикмахера</th>
                        <th>Дата и время записи</th>
                        <th>Услуга</th>
                        <th>Статус</th>
                    </tr>
                </thead>
                <tbody>
                    {% for appointment in my_appointments %}
                        <tr>
                            <td>{{ appointment.barber.user.username }}</td>
                            <td>{{ appointment.appointment_time }}</td>
                            <td>
                                {% for service in appointment.service.all %}
                                    <li>{{ service.title }} - {{ service.duration_minutes}} мин. {{ service.price }} {{ appointment.barber.currency}}</li>
                                {% empty %}
                                    <li>Для этой записи не выбраны услуги.</li>
                                {% endfor %}

                                {% if appointment.service.all %}
                                    <p>
                                        <span>= <i class="fas fa-money-bill-wave"></i></li> {{ appointment.service.all|sum_attribute:'price' }} {{ appointment.barber.currency}} </span>
                                        <span><i class="fas fa-clock fa-inverse"></i> {{ appointment.service.all|sum_attribute:'duration_minutes' }} мин.</span>
                                    </p>
                                {% endif %}
                                
                            </td>
                            <!-- Здесь можно подтверждать или отменять запись -->
                            <td>
                                {% if  appointment.status == 'in_queue' %}
                                    <p>Еще не подтверждено ❌</p>
                                {% elif  appointment.status == 'confirmed' %}
                                    <p>Подтверждено ✅</p>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>

{% endblock %}
