/* Custom Barbershop Style CSS */

/* Body Styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f7f7f7;
}

/* Header Styles */
h1 {
  color: #222;
}

/* Card Styles */
.card {
  border: none;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

/* Profile Image */
.card img {
  border-radius: 50%;
  border: 3px solid #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Calendar Styles */
.table {
  background-color: #fff;
}

.table th,
.table td {
  border: none;
  color: #333;
}

/* Button Styles */
.btn-link {
  color: #fff;
  text-decoration: none;
}

.btn-link:hover,
.btn-link.active {
  background-color: #222;
  color: #fff;
}

/* Form Styles */
.form-group {
  margin-bottom: 20px;
}

.form-control {
  border-radius: 8px;
}

/* Select Styles */
.select2 {
  border-radius: 8px;
}

/* Time Slots */
.btn-outline-secondary {
  border-radius: 50px;
}

/* Title Styles */
.card-title {
  color: #222;
}

/* Button Group Styles */
.btn-group .btn {
  border-radius: 15px !important;
}

/* Radio Button Styles */
.btn-outline-primary {
  border-radius: 25px !important;
}

/* Custom Margin and Padding */
.mt-5 {
  margin-top: 3rem;
}

.mb-5 {
  margin-bottom: 3rem;
}

.mt-3 {
  margin-top: 1.5rem;
}

.mx-4 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.mb-4 {
  margin-bottom: 1.5rem;
}

.my-0 {
  margin: 0;
}

/* Additional styles can be added or modified based on your preferences */
