body {
  background-image: url('https://assets-global.website-files.com/644a9d9ce529ef8812f82a28/647fb85c69e95444243ef9bd_Henley%27s%20Gentlemen%27s%20Grooming%20-%20Barbershop%20and%20Mens%20Grooming.webp'); /* Replace URL with your image URL */
  background-size: cover;
  background-position: center;
  color: #fff; /* Set text color to white */
  font-family: 'Arial', sans-serif; /* Change font for better readability */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  text-align: center; /* Center align content inside container */
  width: 80%; /* Adjust the width as needed */
}
.card {
  background-color: rgba(0, 0, 0, 0.7); /* Set card background color with opacity */
  color: #fff; /* Set text color inside cards to white */
  border: 2px solid #fff; /* Add white border */
  margin-bottom: 20px; /* Add margin between containers */
  padding: 30px 20px; /* Padding for the card */
}
.table-bordered {
  border-color: #fff; /* Set border color for tables */
}
.btn-outline-primary {
  color: #fff; /* Set button text color to white */
  border-color: #fff; /* Set button border color to white */
}
.btn-outline-primary:hover {
  background-color: #fff; /* Change button background on hover */
  color: #000; /* Change text color on hover */
}
select.form-select {
  background-color: #000; /* Set select background color to black */
  color: #fff; /* Set select text color to white */
  border: 2px solid #fff; /* Add white border */
}
select.form-select option {
  background-color: #000; /* Set select option background color to black */
  color: #fff; /* Set select option text color to white */
}
input[type="date"] {
  background-color: #000; /* Set date field background color to black */
  color: #fff; /* Set date field text color to white */
  border: 2px solid #fff; /* Add white border */
  padding: 8px 12px; /* Adjust padding as needed */
  width: calc(100% - 4px); /* Adjust width */
  border-radius: 4px; /* Add border-radius for a softer look */
  box-sizing: border-box; /* Ensure padding and border are included in width */
}
/* Custom styles for the buttons */
.btn-duration {
  color: #fff;
  background-color: #000;
  border-color: #fff;
}
.btn-duration:focus,
.btn-duration:active {
  color: #000;
  background-color: #fff;
}
/* Adjust profile image and name alignment */
.profile-info {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
}

.black-input {
  background-color: #000;
  color: #fff;
}



/* Add any additional styling as needed */