{% extends 'main/base.html' %}
{% load static %}

{% block content %}
{% include 'main/navbar.html' %}

<meta charset="UTF-8">
    <title>Рекламы</title>

<link rel="stylesheet" href="{% static 'css/barbers_list.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">



  <div class="scrollable-cards">
    <div class="header">
      <h2>{{header}}</h2> <!-- Add your h1 text here -->
    </div>
    
    <div class="row">
      {% for ad in ads %}
      <div class="ocl-12 clo-sm-6 col-lg-4">
        <div class="barber_profile">
            <div class="ads">
                <img src="{{ ad.ad.url }}" alt="Profile Image">
            </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

 
{% endblock %}
