{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static '/css/download.css' %}">

    <div class="container">
        <img src="{% static 'images/icon.jpg' %}" alt="SARTAROSHXONA App Icon" class="app-icon">
        <h3 class="heading">SARTAROSHXONA</h3>
        <p class="description">Стрижка без очередей, экономия времени, всё онлайн.</p>
        <a href="{% static 'downloads/SARTAROSHXONA_1_1.0.apk' %}" class="download-button" download="SARTAROSHXONA_1_1.0.apk"><i class="fas fa-download download-icon"></i> Скачать сейчас</a>
    </div>

{% endblock %}

