{% load static %}
<link rel="stylesheet" href="{% static 'css/messages.css' %}">

<!-- Script to handle message display -->
<div id="messageContainer" class="popup-message">
    {% if formMe_signIn.errors %}
        <ul>
            {% for field, error_list in formMe_signIn.errors.items %}
                {% for error in error_list %}
                    <li>{{ field|title }}: {{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    {% elif messages %}
        <ul class="messages">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</div>

<script>
    // Function to display the message for a few seconds and then hide it
    function showMessage() {
        let message = document.querySelector('#messageContainer');
        if (message.querySelector('ul').children.length > 0) {
            message.classList.add('show');
            setTimeout(function () {
                message.classList.remove('show');
            }, 5000); // Change the duration (in milliseconds) as needed
        }
    }

    // Call the showMessage function when the page loads
    document.addEventListener('DOMContentLoaded', function() {
        showMessage();
    });
</script>


<!-- Display form errors -->
<div class="popup-message">
    {% if formMe_signIn.errors %}
    <ul>
        {% for field, error_list in formMe_signIn.errors.items %}
        {% for error in error_list %}
            <li>{{ field|title }}: {{ error }}</li>
        {% endfor %}
        {% endfor %}
    </ul>
    {% endif %}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>

