{% extends 'main/base.html' %}
{% load static %}

{% block content %}
{% include 'main/navbar.html' %}
<meta charset="utf-8">
<title>Другое</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static '/css/clients.css' %}">


<div class="container" style="background-color: rgba(0, 0, 0, 0.5);">
    {% if display == 'payment_info' %}
        <h1>Оплата</h1>
        <p>Пожалуйста, следуйте инструкциям, чтобы сделать ваш профиль общедоступным:</p>
        <p>1. Пожалуйста, скопируйте номер карты для отправки оплаты:</p>
        <div>
            <p> (Оплата: {{ payment_fee }})</p>
            <p>Россия/Тинькофф (банк)</p>
            <input type="text" id="copyInput1" value="2200 7009 3376 1941">
            <button onclick="copyToClipboard('copyInput1')" class="btn btn-outline-primary btn-duration">Скопировать номер карты</button>
        </div>
        
        <p>2. Укажите информацию о парикмахере в комментариях при отправке оплаты:</p>
        <div>
            <input type="text" id="copyInput2" value="{{ barber.id }}">
            <button onclick="copyToClipboard('copyInput2')" class="btn btn-outline-primary btn-duration">Скопировать информацию о парикмахере</button>
        </div>
        
        <p>3. Дождитесь подтверждения оплаты в течение 3 рабочих дней.</p>


        
        <script>
            function copyToClipboard(inputId) {
                var copyText = document.getElementById(inputId);
                copyText.select();
                copyText.setSelectionRange(0, 99999); /* For mobile devices */
                document.execCommand("copy");
            }
        </script>
    {% elif display == 'tospp' %}
    
        <div class="tos-pp-content">
            <h2>Условия использования (ToS):</h2>

                        <strong>Описание услуги:</strong>
                        <ul>
                            <li>Сервис облегчает связь между клиентами и парикмахерами, позволяя онлайн записываться на прием, чтобы устранить ожидание. Клиенты могут оценивать парикмахеров на основе своего опыта. Парикмахеры могут предоставлять бонусы клиентам в зависимости от количества записей.</li>
                        </ul>
                    </li>

                        <strong>Поведение пользователя:</strong>
                        <ul>
                            <li>Ожидается, что пользователи будут вести себя профессионально и с уважением друг к другу. Домогательство или неприемлемое поведение не будут терпеться. Клиентам следует давать точные и честные оценки, а парикмахеры поощряются предоставлять качественные услуги.</li>
                        </ul>
                    </li>

                        <strong>Оплата и подписка:</strong>
                        <ul>
                            <li>Парикмахеры обязаны платить ежемесячную плату за доступ к функциям платформы. Оплата может производиться различными способами, указанными в разделе с информацией об оплате. Неуплата может привести к приостановке привилегий учетной записи.</li>
                        </ul>
                    </li>

                        <strong>Управление профилем:</strong>
                        <ul>
                            <li>Как парикмахеры, так и клиенты имеют возможность управлять своими профилями, включая обновление личной информации и предпочтений. Парикмахеры также могут делиться своими профилями, чтобы привлечь больше клиентов и расширить свой бизнес.</li>
                        </ul>
                    </li>

                        <strong>Ограничение ответственности:</strong>
                        <ul>
                            <li>Хотя мы стремимся обеспечить безопасность данных пользователя, мы не можем гарантировать абсолютную безопасность информации, хранящейся в базе данных. Пользователи осознают, что существуют риски, включая возможную потерю данных в результате улучшения системы или нарушений безопасности хакерами.</li>
                        </ul>
                    </li>

                        <strong>Описание услуги:</strong>
                        <ul>
                            <li>Сервис находится в стадии Минимально-Возможного Продукта (MVP). Пользователи понимают, что в процессе использования приложения могут возникать ограничения или проблемы. Однако, мы стараемся непрерывно улучшать наш сервис и приветствуем ваши отзывы и предложения по улучшению.</li>
                        </ul>
                    </li>

                        <strong>Прекращение действия:</strong>
                        <ul>
                            <li>Учетные записи могут быть прекращены за нарушение условий обслуживания, включая, но не ограничиваясь, мошеннической деятельностью, повторным нарушением или неправильным использованием платформы. Пользователи будут уведомлены обо всех нарушениях и предоставлены возможность исправить их до прекращения учетной записи.</li>
                        </ul>
                    </li>

                        <strong>Обновления условий:</strong>
                        <ul>
                            <li>Пользователи будут уведомлены обо всех обновлениях или изменениях условий обслуживания. Продолжение использования платформы означает принятие пересмотренных условий.</li>
                        </ul>
                    </li>

                <h2>Политика конфиденциальности (P.P.):</h2>

                        <strong>Сбор информации:</strong>
                        <ul>
                            <li>Мы собираем информацию о пользователе, включая личные данные и историю приемов, чтобы облегчить процесс бронирования и улучшить опыт пользователя. Данные о местоположении могут собираться для целей записи на прием.</li>
                        </ul>
                    </li>

                        <strong>Использование информации:</strong>
                        <ul>
                            <li>Информация о пользователе используется для управления учетной записью, общения и улучшения сервиса. Личные данные не передаются третьим лицам для маркетинговых целей без согласия пользователя.</li>
                        </ul>
                    </li>

                        <strong>Безопасность данных:</strong>
                        <ul>
                            <li>Мы применяем меры безопасности, такие как шифрование и контроль доступа, для защиты данных пользователя от несанкционированного доступа или злоупотреблений. Однако пользователи осознают встроенные риски хранения данных в среде MVP.</li>
                        </ul>
                    </li>

                        <strong>Права пользователей:</strong>
                        <ul>
                            <li>Пользователи имеют право на доступ, обновление и удаление своей личной информации. Запросы на удаление будут обработаны оперативно, но пользователи осознают, что остаточные копии данных могут оставаться в резервном хранилище на ограниченный период.</li>
                        </ul>
                    </li>

                        <strong>Сервисы третьих лиц:</strong>
                        <ul>
                            <li>Мы можем передавать данные пользователей доверенным сторонним поставщикам услуг для целей обработки данных и улучшения сервиса. Эти поставщики обязаны соблюдать соглашения о конфиденциальности и не имеют разрешения использовать данные в собственных целях.</li>
                        </ul>
                    </li>

                        <strong>Примечание:</strong>
                            <ul>
                                <li>Это приложение находится в стадии Минимально-Возможного Продукта (MVP). Пользователи могут столкнуться с ограничениями или проблемами в процессе использования. Мы ценим вашу обратную связь и готовы принять запросы на улучшение сервиса.</li>
                            </ul>
                        </li>
                    </li>

                        <strong>Изменения в политике конфиденциальности:</strong>
                        <ul>
                            <li>Пользователи будут уведомлены обо всех обновлениях или изменениях в политике конфиденциальности. Продолжение использования платформы означает принятие пересмотренной политики.</li>
                        </ul>
                    </li>

        </div>

    {% elif display == 'others' %}
        <!-- Content from the second HTML -->
        <div class="list-content">
            <h1>Другое</h1>
            <table>
                <tbody>
                    <tr>
                        <td><a style="color: white;" href="{% url 'tospp' %}">Условия использования и Политика конфиденциальности</a></td>
                    </tr>
                    <tr>
                        <td><a style="color: white;" href="{% url 'contact_dev' %}">Связаться с разработчиком</a></td>
                    </tr>
                </tbody>
            </table>
        </div>

    {% elif display == 'contact_dev' %}

        <div class="contact-info" style="text-align: left; margin-left: 10px;">
            <h2>Связаться с разработчиком</h2>
            <p>Обратитесь к разработчику:</p>
            <ul>
                <li>Если вам нужны улучшения в текущем проекте.</li>
                <li>Если есть какие-либо недостатки в текущем проекте.</li>
                <li>Если вы хотите иметь проекты подобные этому для вашего бизнеса.</li>
                <li>и другие</li>

            </ul>
            <p>Контакт:</p>
            <ul>
                <li><a style="color: white;" href="https://wa.me/79643625256">Whatsapp</a></li>
            </ul>
        </div>
    

    {% endif %}

    

</div>

{% endblock %}
