{% extends 'main/base.html' %}
{% load static %}

{% block content %}
{% include 'main/navbar.html' %}
<meta charset="utf-8">
<title>Другое</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static '/css/clients.css' %}">


<div class="container" style="background-color: rgba(0, 0, 0, 0.5);">
    {% if display == 'payment_info' %}
        <h1>Профиль пользователя</h1>
        <p>Пожалуйста, сделайте оплату, чтобы ваш профиль стал общедоступным</p>

        <div style="margin-top: 10px;">
            <input type="text" id="copyInput1" value="0000 0000 0000 0000">
            <input type="text" id="copyInput2" value="{{ barber.id }}">
            <button onclick="copyToClipboard('copyInput1')" class="btn btn-outline-primary btn-duration">Скопировать номер карты</button>
            <button onclick="copyToClipboard('copyInput2')" class="btn btn-outline-primary btn-duration">Скопировать парикмахера</button>
        </div>
        
        <script>
            function copyToClipboard(inputId) {
                var copyText = document.getElementById(inputId);
                copyText.select();
                copyText.setSelectionRange(0, 99999); /* For mobile devices */
                document.execCommand("copy");
            }
        </script>
    {% elif display == 'tospp' %}
    
        <div class="tos-pp-content">
            <h2>Условия использования (ToS):</h2>
        
            <ol>
                <li><strong>Описание сервиса</strong>: Сервис позволяет пользователям управлять профилями, оставлять отзывы и рейтинги, а также предоставляет парикмахерам возможность предлагать бонусы клиентам на основе их записей на прием.</li>
        
                <li><strong>Оплата и подписка</strong>: Месячная плата для всех парикмахеров. Парикмахеры оплачивают месячный доступ к записям на прием, в то время как клиенты не платят за использование сервиса.</li>
        
                <li><strong>Поведение пользователей</strong>: Пользователи должны проявлять профессионализм и уважение друг к другу. Харассмент или неподходящее поведение не будут терпеться. Парикмахеры должны оплачивать свою месячную плату для доступа к записям на прием; неуплата приведет к приостановке их профиля.</li>
        
                <li><strong>Интеллектуальная собственность</strong>: Пользователи сохраняют право собственности на загруженный контент. Загружая контент, они предоставляют нам неисключительную лицензию на его использование в рекламных целях. Однако мы не гарантируем безопасность загруженного пользователем контента.</li>
        
                <li><strong>Прекращение</strong>: Учетные записи пользователей могут быть закрыты за нарушение правил сообщества, повторное несоблюдение условий использования или мошенническую деятельность.</li>
        
                <li><strong>Отказ от ответственности и ограничение ответственности</strong>: Мы не можем гарантировать бесперебойную доступность сервиса и не несем ответственности за убытки, возникшие в результате прерываний сервиса. Хотя мы стремимся защитить данные пользователей, мы не несем ответственности за потерю данных из-за нарушений безопасности.</li>
        
                <li><strong>Изменения в условиях использования</strong>: Пользователи будут уведомлены по электронной почте о любых изменениях в условиях использования. Продолжение использования сервиса означает согласие с измененными условиями.</li>
            </ol>
        
            <h2>Политика конфиденциальности (P.P):</h2>
        
            <ol>
                <li><strong>Сбор информации</strong>: Мы можем собирать данные о местоположении, истории общения между пользователями, изображения профиля, номера телефонов, названия организаций, рабочие дни и часы, а также информацию о валюте.</li>
        
                <li><strong>Использование информации</strong>: Информация о пользователях будет использоваться для управления учетными записями, общения и улучшения сервиса. Мы также можем анализировать данные пользователей для улучшения пользовательского опыта и настройки наших услуг.</li>
        
                <li><strong>Обмен данными</strong>: Информация о пользователях не будет передаваться третьим лицам для маркетинговых целей. Однако парикмахеры могут самостоятельно делиться своими профилями. Мы можем передавать данные сторонним поставщикам услуг для предоставления и улучшения наших услуг.</li>
        
                <li><strong>Безопасность данных</strong>: Мы приложим все усилия для защиты данных пользователей. Программист может получить доступ к информации о пользователе при необходимости для улучшения проекта или других действий, но не для личной выгоды. Мы не несем ответственности за потерю данных из-за нарушений безопасности.</li>
        
                <li><strong>Права пользователей</strong>: Пользователи могут получить доступ и обновить свою личную информацию через настройки своей учетной записи. Они также могут запросить удаление своей учетной записи и связанных данных.</li>
        
                <li><strong>Файлы cookie и технологии отслеживания</strong>: Мы можем использовать файлы cookie для аутентификации, аналитики и персонализации. Пользователи могут управлять предпочтениями файлов cookie через настройки своего браузера.</li>
        
                <li><strong>Изменения в политике конфиденциальности</strong>: Пользователи будут уведомлены по электронной почте об изменениях в политике конфиденциальности. Продолжение использования сервиса означает согласие с измененной политикой.</li>
            </ol>
        </div>

    {% elif display == 'others' %}
        <!-- Content from the second HTML -->
        <div class="list-content">
            <h1>Другое</h1>
            <table>
                <tbody>
                    <tr>
                        <td><a style="color: white;" href="{% url 'tospp' %}">Условия использования и Политика конфиденциальности</a></td>
                    </tr>
                    <tr>
                        <td><a style="color: white;" href="{% url 'contact_dev' %}">Связаться с разработчиком</a></td>
                    </tr>
                </tbody>
            </table>
        </div>

    {% elif display == 'contact_dev' %}

        <div class="contact-info" style="text-align: left; margin-left: 10px;">
            <h2>Связаться с разработчиком</h2>
            <p>Обратитесь к разработчику:</p>
            <ul>
                <li>Если вам нужны улучшения в текущем проекте.</li>
                <li>Если есть какие-либо недостатки в текущем проекте.</li>
                <li>Если вы хотите иметь проекты подобные этому для вашего бизнеса.</li>
            </ul>
            <p>Контакт:</p>
            <ul>
                <li>Whatsapp: example@example.com</li>
                <li>Телефон: +1234567890</li>
                <li>Адрес: ул. Разработчика, 123, Город, Страна</li>
            </ul>
        </div>
    

    {% endif %}

    

</div>

{% endblock %}
