{% extends 'main/base.html' %}
{% load static %}

{% block content %}
{% include 'main/messages.html' %}


<meta charset="utf-8">
<title>Login Form</title>
<link rel="stylesheet" href="{% static 'css/signboth.css' %}">
<script src="{% static 'js/show_password.js' %}"></script>

<meta name="viewport" content="width=device-width, initial-scale=1.0">



      <div class="wrapper">
         <div class="title">
            Вход
         </div>
         <form action="{% url 'signin' %}" method="post">
            {% csrf_token %}
            <div class="field">
                {{ formMe_signIn.username }}
            </div>
            <div class="field">
               <input type="password" name="{{ formMe_signIn.password.name }}" id="{{ formMe_signIn.password.id_for_label }}" placeholder="Пароль" class="password-input">
               <span toggle="{{ formMe_signIn.password.id_for_label }}" class="eye field-icon toggle-password"></span>
            </div>
            <div class="content">
               <!-- 
               <div class="checkbox">
                  <input type="checkbox" id="remember-me">
                  <label for="remember-me">Remember me</label>
               </div>
                -->
               
               <!--
               <div class="pass-link">
                  <a href="#">Forgot password?</a>
               </div>  -->
               
            </div>
            <div class="field">
               <button type="submit">Войти</button>
            </div>
            <div class="signup-link">
                  У вас нет аккаунта? <a href="/main/signup/">Зарегистрируйтесь</a>
            </div>
           
         </form>
      </div>

{% endblock %}