{% extends 'main/base.html' %}
{% load static %}




{% block content %}
<!-- Content specific to this page -->

<!--Sign static-->
<link rel="stylesheet" href="{% static 'css/main_sign.css' %}">
<link rel="stylesheet" href="{% static 'css/error.css' %}">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
<script src="{% static 'js/sign.js' %}"></script>
<script src="{% static 'js/error.js' %}"></script>



<!-- Add message rendering -->
<div class="popup-message">
  {% if messages %}
      <ul>
          {% for message in messages %}
              <li>{{ message }}</li>
          {% endfor %}
      </ul>
  {% endif %}
</div>


<div class="container">
    <div class="formGroup">
      <div class="formHeading">
          <i class="fa fa-user"></i>
          <span>Hi There !..</span>
      </div>
    <div class="formContainer">
      <div class="form signupForm">
        <form action="{% url 'signup' %}" method="post">
          {% csrf_token %}
          <div class="inputGroup">
              <input type="text" id="signUp_username" name="username" placeholder="Username" required>
          </div>
          <div class="inputGroup">
              <input type="password" id="signUp_password" name="password1" placeholder="Password" required>
          </div>
          <div class="inputGroup">
              <input type="password" id="signUp_confirm_password" name="password2" placeholder="Confirm Password" required>
          </div>
          <div class="submitAction">
              <a href="#" class="trigger">Already Member ? Sign In</a>
              <button type="submit">Sign Up</button>
          </div>
      </form>
      </div>
      <div class="form signinForm">
        <form action="#">
          <div class="inputGroup">
            <input type="text" id="signIn_email" placeholder="Email">
          </div>
          <div class="inputGroup">
              
            <input type="password" id="signIn_password" placeholder="Password">
          </div>
          <div class="submitAction">
              <a href="#" class="trigger">Not a Member Yet ? Sign Up</a>
                <button>Sign In</button>
  
            </div> 
        </form>
      </div>
    </div>
  </div>

</div>

<!-- Paste the provided HTML code here -->
{% endblock %}