{% extends 'main/base.html' %}
{% load static %}

<meta charset="utf-8">
<title>Login Form Design | CodeLab</title>

{% block content %}
<meta charset="utf-8">
<title>Login Form Design | CodeLab</title>
<link rel="stylesheet" href="{% static 'css/signboth.css' %}">
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="{% static 'js/locations.js' %}"></script>
<script src="{% static 'js/show_password.js' %}"></script>


<meta name="viewport" content="width=device-width, initial-scale=1.0">

      <!-- Display form errors -->
      {% include 'main/messages.html' %}
   <div class="background-image">
      <div class="wrapper">
         <div class="title">
            Sign Up
         </div>
         <form action="{% url 'signup' %}" method="post"  id="personForm" 
         data-regions-url="{% url 'ajax_load_regions' %}" 
         data-districts-url="{% url 'ajax_load_districts' %}" 
         data-cities-url="{% url 'ajax_load_cities' %}">
            {% csrf_token %}
            <div class="field">
                {{ formMe_signup.username }}
            </div>
            <div class="field">
               {{ formMe_signup.email }}
            </div>
            <div class="field">
               {{ formMe_signup.country }}
            </div>
            <div class="field">
               {{ formMe_signup.region }}
            </div>
            <div class="field">
               {{ formMe_signup.district }}
            </div>
            <div class="field">
               {{ formMe_signup.city }}
            </div>
            <div class="field">
               <input type="password" name="{{ formMe_signup.password1.name }}" id="{{ formMe_signup.password1.id_for_label }}" placeholder="Password" class="password-input">
               <span toggle="{{ formMe_signup.password1.id_for_label }}" class="eye field-icon toggle-password"></span>
            </div>
            <div class="field">
                  <input type="password" name="{{ formMe_signup.password2.name }}" id="{{ formMe_signup.password2.id_for_label }}" placeholder="Confirm Password" class="password-input">
                  <span toggle="{{ formMe_signup.password2.id_for_label }}" class="eye field-icon toggle-password"></span>
            </div>
           
            <div class="content">
               <div class="checkbox">
                  {{ formMe_signup.is_barber }}
                  <label for="is_barber">I'm a barber</label>
               </div>
            <!--<div class="pass-link">
                  <a href="#">Forgot password?</a>
               </div>-->
            </div>
            <div class="field">
               <button type="submit">Sign Up</button>
            </div>
            <div class="signup-link">
               Do you have an account? <a href="/main/signin/">Sign in now</a>
            </div>
         </form>
      </div>
   </div>
{% endblock %}