/* Style for read-only input fields */
.readonly-input {
    display: inline-block;
    margin: 5px 0;
    color: #333;
    border: none;
    background: none;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    cursor: default; /* Set cursor to default */
}

/* Style for edit button */
#editButton {
    display: inline-block;
    margin-bottom: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

/* Style for cancel button */
#cancelButton {
    display: inline-block;
    margin-right: 10px;
    padding: 5px 10px;
    background-color: #dc3545;
    color: white;
    border: none;
    cursor: pointer;
}